
/* font family */
body {
    font-family: Arial;
}
nav {
    font-family:  Helvetica;
}

/* generali */
.height-img {
    height: 100px;
}

.product-selected{
    border-bottom: 2px solid blue;
}

.bord-25 {
    border-radius: 25px;
}
.bg-dark{
    background-color: #000 !important;
}

/* banner */
.cont-img {
    width: 200px;
}

.cont-img-game {
    width: 150px;
    height: 100px;
}

/* banner  1*/
.banner1 {
    background: url(../img/jumbo-bg.png) center;
}

.banner1 .row {
    height: 650px;
    align-items: flex-end;
}
/* immagini banner 1 selezionate */
.img-selected{
    border: thick double blue;
}

/* banner 2 */
.banner2{
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) center ;
}

/* nuove uscite */
.cont-game-to-buy{
    width: 150px;
}

/* ps-plus & ps now*/
.ps-plus{
    width: 50%;
}

.bg-ps-now {
    background: #161c3b;
}

footer {
    background-color: #00439c;
}

/* footer */
.ps-foot{
    width: 100px;
}
.globe-img{
    width: 30px;
}
footer ul{
    list-style-type: none;
    line-height: 30px;
}
footer p {
    font-size: 14px;
}